$color-white: #fff;
$color-black:#000;

$color-primary: #55c57a;

$color-red:#f71e1e;
$color-red-dark:#c71111;
$color-red-light:#f14d4d;

$color-grey-dark: #777;
$color-grey-light-1: #999999a1;
$color-grey-light:#e6d9d9;


$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


