.u-center-text { text-align: center ; }

.u-padding-btn {padding: 7px 24px ;}
.u-gradient-color{background-image: linear-gradient(to right, #f14d4d, #c71111);}
.u-color{color:$color-white}
.u-margin-bottom-big { margin-bottom: 8rem ; }
.u-margin-bottom-small { margin-bottom: 2rem ; }
.u-margin-top-small { margin-top: 2rem ; }
.u-margin-right-small { margin-right: 2rem ; }