.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
    
    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        
    }

}

.img-grid{
    margin: -4px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-gap:17px;
    margin-bottom: 10px;
  }
  .img-wrap{
    overflow: hidden;
    height: 0;
    padding: 34% 0;
    position: relative;
    

    & img{
        min-width: 100%;
        min-height: 100%;
        max-width: 150%;
        position: absolute;
        top: 0;
        left: 0;
      }
      
  }


  .img-grid__2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
    margin-bottom: 10px;
  }

  .img-wrap__2{
    overflow: hidden;
    height: 0;
    padding: 34% 0;
    position: relative;
    

    & img{
        min-width: 100%;
        min-height: 100%;
        max-width: 150%;
        position: absolute;
        top: 0;
        left: 0;
      }
     
      
  }