.form {
  margin: 3rem auto 1rem;
  text-align: center;

  &__label {
    display: block;
    width: 3rem;
    height: 3rem;
    border: 1px solid #4e4e4e;
    border-radius: 50%;
    margin: 1rem auto;
    line-height: 3rem;
    color: $color-red-light-1;
    font-weight: bold;
    font-size: 24px;
  }
  &__label:hover {
    background: $color-red-light;
    color: white;
    cursor: pointer;
  }

  &__input {
    height: 0;
    width: 0;
    opacity: 1;
  }

  &__output {
    color: $color-black;
    height: 6rem;
    font-size: 0.8rem;
  }
  &__error {
    color: $color-red-dark;
  }
  &__progress {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
  }
}

.register__form {
  &__group:not(:last-child) {
    margin-bottom: 1rem;
  }
  @include respond(tab-land) {
    margin-top: -263px;
  }

  @include respond(tab-port) {
    margin-top: -23px;
  }
  &__input {
    font-size: 1rem;
    font-family: inherit;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    background-color: rbga(red, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid rgb(0, 0, 0);
    }

    &:focus:invalid {
      border-bottom: 3px solid red;
    }

    &::-webkit-input-placeholder {
      color: rgb(218, 208, 217);
      margin-left: 2px;
    }
  }
  &__label {
    color: red;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: -0.3rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
